<div class="container main-container">
        <div class="row">
            <p class="pt-3">
            <div class="col-4 mb-5 text-center">
                <h6 class="bg-dark text-white">Umberto Robina </h6>
                <img class="bg-dark" src="./../assets/Gifs/Umberto2.gif"  width="250px" height="160px">
                <p class="pt-3"></p>
                <img class="bg-dark" src="./../assets/Gifs/Umberto.gif" width="250px" height="160px">
                <p class="pt-3"></p>
                <img class="bg-dark" src="./../assets/Gifs/Umberto3.gif" width="250px" height="160px">
            </div>
            <div class="col-4 mb-5 text-center">
                <h6 class="bg-dark text-white">Joe Barbaro </h6>
                <img class="bg-dark" src="./../assets/Gifs/Joe1.gif" width="250px" height="160px">
                <p class="pt-3"></p>
                <img class="bg-dark" src="./../assets/Gifs/Joe2.gif" width="250px" height="160px">
                <p class="pt-3"></p>
                <img class="bg-dark" src="./../assets/Gifs/Joe3.gif" width="250px" height="160px">
            </div>
            <div class="col-4 mb-5 text-center">
                <h6 class="bg-dark text-white">Yusuf Amir </h6>
                <img class="bg-dark" src="./../assets/Gifs/Yusuf1.gif" width="250px" height="160px">
                <p class="pt-3"></p>
                <img class="bg-dark" src="./../assets/Gifs/Yusuf2.gif" width="250px" height="160px">
                <p class="pt-3"></p>
                <img class="bg-dark" src="./../assets/Gifs/Yusuf3.gif" width="250px" height="160px">
            </div>
        </div>
    </div>