<div class="container main-container">
    <div class="text-center">
        <a type="button" href="/home" class="btn btn-danger text-white btn-block"> Volver a la pagina principal </a>
    </div>
</div>
<div class="pt-5 mb-5">